body {
    background: #1B5E20;
    text-align: center;
    color: white;
    font-family: "Cormorant Garamond", serif;
}

h1 {
    color: #CDDC39;
    font-size: 150px;
}

p {
    font-size: 30px;
}
